In [92]:
import pandas as pd

In [93]:
##Reading Data

In [94]:
df = pd.read_csv('DummyData.csv')

In [95]:
df.head()

        fever  bodypain  age  runningnose  diffBreath  infectionProb
0   99.847438         1   16            1           0              1
1  100.066923         1   66            1           1              0
2  101.134459         0    3            1           0              0
3  101.708949         0   92            1           1              0
4  100.862220         0    8            0          -1              1

In [96]:
df.tail()

           fever  bodypain  age  runningnose  diffBreath  infectionProb
2570  101.890627         0   43            0          -1              0
2571  100.891134         0   16            0           0              1
2572   98.273932         1   92            0           0              1
2573  100.090273         0   59            1           1              0
2574   98.951971         1    2            0           0              0

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2575 non-null   float64
 1   bodypain       2575 non-null   int64
 2   age            2575 non-null   int64
 3   runningnose    2575 non-null   int64
 4   diffBreath     2575 non-null   int64
 5   infectionProb  2575 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 120.8 KB

In [98]:
#df['diffBreath'].value_counts()

In [99]:
#df.describe()

In [100]:
#Train Test Splitting

In [101]:
import numpy as np

In [102]:
def datas_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)*ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [103]:
np.random.permutation(7)

array([2, 0, 4, 5, 1, 6, 3])

In [104]:
train,test = datas_split(df,0.2)

In [105]:
train

           fever  bodypain  age  runningnose  diffBreath  infectionProb
1703   99.562201         1   46            1           0              1
1675  100.981119         0    5            0          -1              0
1518  100.817644         0   80            1           0              0
361    98.504700         0   97            0           0              1
1544   98.259489         1  100            0           1              0
...          ...       ...  ...          ...         ...            ...
1638   99.975320         0   85            1           1              0
1095  101.070570         1   83            0           1              0
1130  101.856049         1   93            0           0              0
1294   98.764229         1   84            1          -1              1
860    98.997862         1   42            0           1              1

[2060 rows x 6 columns]

In [106]:
test

           fever  bodypain  age  runningnose  diffBreath  infectionProb
1644   99.443942         0   81            1          -1              0
1189   99.117546         1   24            0           1              1
495   100.054214         0   85            1           1              0
1656   98.389827         0   96            0           0              1
651    99.785287         0   93            0          -1              1
...          ...       ...  ...          ...         ...            ...
1627   99.146627         0   15            0          -1              1
471   100.116348         0    2            0           0              0
700   100.749973         0   10            1          -1              0
25    100.807020         1   91            0           1              0
755   100.410089         0   78            0           0              1

[515 rows x 6 columns]

In [107]:
X_train = train[['fever','bodypain','age','runningnose','diffBreath']].to_numpy()

In [108]:
X_test = test[['fever','bodypain','age','runningnose','diffBreath']].to_numpy()

In [109]:
Y_train = train[['infectionProb']].to_numpy().reshape(2060 ,)

In [110]:
Y_test = test[['infectionProb']].to_numpy().reshape(515 ,)

In [111]:
from sklearn.linear_model import LogisticRegression

In [112]:
clf = LogisticRegression()

In [113]:
clf.fit(X_train,Y_train)

LogisticRegression()

In [114]:
infection_probability = clf.predict_proba([[100,1,22,-1,1]])[0][1]

In [115]:
infection_probability

0.4650416295125168